mixin offer(data)
    a(href="./offer.html").card.offer&attributes(attributes)
        .offer__meta
            .offer__picture
                img(src=data.image decoding="async" alt="Image description").offer__img
            .offer__cell= data.offer
        .offer__options
            .offer__cell.offer__cell--verticals= data.verticals
            .offer__cell.offer__cell--payout= data.payout
            .offer__cell= data.payout_type
            .offer__cell
                .offer__geos
                    each item in data.geos
                        .offer__geo
                            img(src=`https://hatscripts.github.io/circle-flags/flags/language/${item}.svg` decoding="async" alt="Image description").offer__img
            .offer__cell= data.network
            .offer__link
                +icon('arrow-right-circle')
